:root {--primary-color:#E95018; --secondary-color:#121212;}
a{text-decoration: none;} .hidden {display: none;} img {max-width: 100%;}
body {font-family: 'Sofia Pro', sans-serif;color: #000;}
body.demo::before {content: "";position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: url('../../index.jpg') no-repeat;background-size: 100%;opacity: 0.5;z-index: 99;filter: grayscale(50);}
i.ikon::before{content: "";display: block;width: 1em;height: 1em;background-size: contain!important;background-position: center!important;}
i.phone::before{background: url("../img/telefon.svg") no-repeat;}
i.roket::before{background: url("../img/roket.svg") no-repeat;}
i.megafon::before{background: url("../img/megafon.svg") no-repeat;}
i.cetvel::before{background: url("../img/cetvel.svg") no-repeat;}
i.play::before{background: url("../img/play.svg") no-repeat;}
.btn {display: flex;align-items: center;justify-content: center;gap: 10px; background: var(--primary-color);color: #fff;outline: none;box-shadow: unset;font-size: 15px;padding: 5px 15px; border-radius: 20px;transition: 0.3s ease all;}
.btn:hover,.btn:focus {background:var(--secondary-color);color: #fff;box-shadow: none; transition: 0.3s ease all;}

.container , .container-fluid {max-width: calc(100% - 30px);}
header {position: fixed;left: 0;right: 0;z-index: 9; width: 100%;padding: 35px 0 10px 0;transition: 0.3s ease all;}
header.bg {background: #fff;box-shadow:0 0 40px -4px rgba(0, 0, 0, 0.1);padding: 10px 0;transition: 0.3s ease all;}
header .container-fluid {display: flex;flex-wrap: wrap;align-items: center;gap: 0 60px;}
/* Navbar sağ ve sol kısma eşit uzaklık olacak şekilde güncellendi */
header .container-fluid ul{list-style: none;margin: 0;padding: 0;}
header .container-fluid a{color:#fff ;font-size: 18px;transition: 0.3s ease all;}
header .container-fluid li:hover a , header.bg .container-fluid li:hover a{color : var(--primary-color);transition: 0.3s ease all;}
header.bg .container-fluid a{color: #5B5B5B;}
header.bg .container-fluid .ikon{filter: brightness(0);}
header.bg .logo svg path:not(.i) {fill: #000000;}
header .menu ul {display: flex;flex-wrap: wrap;gap: 0 45px;}
header .menu ul li.dropdown > a::after {content: "\f282";font-size: 16px; display: inline-block;font-family: bootstrap-icons !important; line-height: 1;vertical-align: -.125em;padding-left: 3px;}
header .menu ul li.dropdown ul{position: absolute;min-width: 150px;box-shadow: 0 0 15px -5px black; padding: 15px;background: var(--primary-color);border-radius: 10px;opacity: 0;visibility: hidden;transition: 0.3s ease all;}
header .menu ul li.dropdown ul li{display: block;width: 100%;white-space: nowrap;}
header .menu ul li.dropdown ul li a, header.bg .menu ul li.dropdown ul li a{color: #fff;}
header .menu ul li.dropdown:hover ul{opacity: 1;visibility: visible; transition: 0.3s ease all;}
header .right{margin: 0 0 0 auto;}
header .right ul{display: flex;flex-wrap: wrap;align-items: center;gap: 0 50px;}
header .right ul .contact {display: flex;flex-wrap: wrap;color: #fff;gap:0 10px;}
header.bg .right ul .contact {color: #585858;}
header .right ul .contact i{font-size: 36px;}
header .right ul .contact span{display: block;font-size: 12px;}
header .right ul .contact a{display: block;font-size: 16px; font-weight: 600;}
header .right ul .app a{display: block;background: var(--primary-color);color: #fff;border-radius: 24px;padding: 15px 30px;font-size: 12px;font-weight: 600;transition:0.3s ease all;}
header .right ul .app:hover a{background: var(--secondary-color); color: #fff;transition:0.3s ease all;}
header .mobilMenu {display: none;}

.home-slider .item {position: relative;}
.home-slider:not(.slick-slider) .item:nth-child(n+2) {display: none;}
.home-slider .item::before {content: "";width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: rgb(0,0,0,0.4);background: radial-gradient(circle, rgba(0,0,0,0.8799720571822479) 0%, rgba(0,0,0,0) 100%); }
.home-slider .item img{width: 100%;height: auto;}
.home-slider .item .text {color: #ffffff;display: block;position: absolute;text-align: center;width: 100%;max-width:650px; height: auto; margin: auto;left: 0;right: 0; top: calc(50% + 25px); -webkit-transform: translate(0,-50%);transform: translate(0,-50%); }
.home-slider .item .text b {display: block; font-size: 50px;line-height: 50px;margin-bottom: 30px; font-weight: 600;opacity: 0;-webkit-opacity: 0; transition: 0.3s ease all;}
.home-slider .item .text b span{display: block;color: var(--primary-color);}
.home-slider .item .text p{font-size: 25px; padding: 0;opacity: 0;-webkit-opacity: 0; transition: 0.3s ease all;}

@-webkit-keyframes yukariKay {0% {opacity: 0;-webkit-opacity: 0;-webkit-transform: translateY(300px);transform: translateY(300px); } 100% {opacity: 1;-webkit-opacity: 1;-webkit-transform: translateY(0px);transform: translateY(0px);}}
@keyframes yukariKay {0% {opacity: 0;-webkit-opacity: 0;-webkit-transform: translateY(300px);transform: translateY(300px);}100% {opacity: 1;-webkit-opacity: 1;-webkit-transform: translateY(0px);transform: translateY(0px);}}

.home-slider  .item.slick-active .text b {animation-name: yukariKay; animation-duration: 1s;opacity: 1;-webkit-opacity: 1;}
.home-slider  .item.slick-active .text p{animation-name: yukariKay; animation-duration: 3s;opacity: 1;-webkit-opacity: 1;}

.home-references {margin: 150px 0;}
.home-references .references {display: grid;grid-template-columns: repeat(5 , 1fr);}
.home-references .references img{height: auto;}

.home-services {margin: 30px 0;}
.home-services .left .box{max-width: 400px;}
.home-services .left span{display: block;color: var(--primary-color);font-size: 20px; font-weight: 600;margin-bottom: 30px;}
.home-services .left b {display: block;font-size: 50px;line-height: 50px;font-weight: 600;position: relative;}
.home-services .left b::before {content: "";width: 25%;height: 0;border-bottom: 3px solid var(--primary-color);position: absolute;left: 0;bottom: -30px;transition: 0.3s ease all;}
.home-services .left:hover b::before {width: 50%;transition: 0.3s ease all;}
.home-services .left p{font-size: 24px;color: #9C9C9C;margin: 90px 0;}
.home-services .left .btn {display: flex;align-items: center;justify-content: center;max-width: 250px;height: 72px;}

.home-services .right .boxes {display: grid;grid-template-columns: repeat(2 , 1fr);gap: 25px 30px;}
.home-services .right .boxes .box{box-shadow: 0 0 3px #D3D3D3; padding: 30px;border-radius: 20px;font-size: 15px;transition: 0.3s ease all;overflow: hidden;position: relative;}
.home-services .right .boxes .box .ikon{display: block; font-size: 26px;margin-bottom: 30px;}
.home-services .right .boxes .box b{display: block;font-size: 22px;margin-bottom: 7px;}
.home-services .right .boxes .box p {color: #9C9C9C;margin-bottom: 25px;}
.home-services .right .boxes .box a {color: #5F5F5F;text-decoration: underline;}
.home-services .right .boxes .box::after{content: "";position: absolute;left: 0;bottom: -8px;width: 100%;height: 8px;background: var(--primary-color);transition: 0.3s ease all;}
.home-services .right .boxes .box:hover::after{bottom: 0; transition: 0.3s ease all;}
.home-services .right .boxes .box:hover{box-shadow: 0px 17px 34px -5px rgba(0, 0, 0, 0.09);}

.home-fContact {margin: 200px 0;text-align: center;}
.home-fContact .box{max-width: 880px;margin: auto;}
.home-fContact .box span{display: block;font-size: 45px;font-weight: 600;line-height: 64px;}
.home-fContact .box .btn{margin: 50px auto;height: 100px;display: flex;align-items: center;justify-content: center;max-width: 470px;font-size: 20px;font-weight: 600;}
.home-fContact .box ul {margin: 0;padding: 0;display: grid; grid-template-columns: repeat(3 , 1fr);list-style: none;}
.home-fContact .box ul li{display: flex;align-items: center;gap: 10px;font-size: 14px;}
.home-fContact .box ul li i{font-size: 28px;}

.home-blogs {padding: 150px 0;background: url('../img/home-blog.svg') no-repeat;background-size: 100%;background-attachment: fixed;}
.blog {display: flex;flex-wrap: wrap;margin:80px 0 ;align-items: center;}
.blog .img img{width: 100%;height: auto;}
.blog .desc{text-align: left;order: 2;}
.blog .desc span{display: block;font-weight: 600; color: var(--primary-color);}
.blog .desc b{display: block;font-size: 28px;line-height: 32px; margin: 20px 0;}
.blog .desc p {color: #9C9C9C;margin: 0;}
.blog:nth-child(2n) .desc{text-align:right;order: -1;}
.blog .desc .text{max-width: 400px;width: 100%;margin: auto;}
.blog:last-child {margin-bottom: 0;}

#videoModal .modal-header{border: unset;padding: 0;}
#videoModal .modal-header .btn-close{opacity: 1;position: absolute;z-index: 9;right: 0;background-color: #fff;}
#videoModal .modal-body {padding: 0;position: relative;height: 0;padding-bottom: 56.25%;}
#videoModal .modal-body iframe {position: absolute; width: 100%;height: 100%;}

.home-video {margin: 150px 0;}
.home-video .video {position: relative;overflow: hidden;border-radius: 60px;}
.home-video .video img{width: 100%;height: auto;}
.home-video .video a::before {content: "";position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.16);;}
.home-video .video span{display: flex;align-items: center;justify-content: center;font-size: 33px; position: absolute;width: 125px;height: 125px;left: 50%;top: 50%;transform: translate(-50%,-50%); z-index: 2;background: #ffffff;border-radius: 100%; transition: 0.3s ease all; }
.home-video .video span::before{content: "";position: absolute;opacity: 0.5; left: -15px;top: -15px;width: calc(100% + 30px);height: calc(100% + 30px);border: 3px solid #fff;border-radius: 50%;transition: 0.3s ease all;}
.home-video .video span::after{content: "";position: absolute;left: -15px;top: -15px;width: calc(100% + 30px);height: calc(100% + 30px);border: 3px solid #fff;border-radius: 50%;}
.home-video .video:hover span{background: var(--primary-color); transition: 0.3s ease all;}
.home-video .video:hover .ikon{filter: brightness(0) invert(1);}
.home-video .video:hover span::before{width: calc(100% + 50px);height: calc(100% + 50px);left: -25px;top: -25px; transition: 0.3s ease all;}

.home-comments {padding: 150px 0;}
.commets-slider:not(.slick-slider) .comment:nth-child(n+2) {display: none;}
.comment {display: flex!important;flex-wrap: wrap;gap: 0 60px;}
.comment .image{flex: 3;max-width: 500px;}
.comment .image img{width: 100%;height: auto;}
.comment .desc{flex: 4;}
.comment .desc span.b{display: block;font-size: 20px;font-weight: 600;margin-bottom: 30px; color: var(--primary-color);}
.comment .desc b.b{display: block;font-size: 38px;line-height: 40px; font-weight: 600;}
.comment .desc p{display: block;margin: 30px 0;color: #9C9C9C;font-size: 20px;font-weight: 300;}
.comment .account {display: flex;flex-wrap: wrap;gap: 0 45px;}
.comment .account .name{display: block;color: #747474;font-size: 24px;}
.comment .account .bi-star-fill{font-size: 18px; color: #F6C244;}
.comment .account .name span{margin-right: 15px;}
.comment .account .title {font-weight: 300;color: #747474;} 

.commets-slider .slick-arrow {position: absolute;padding: 0;bottom: 0px;z-index: 3;box-shadow: 3px 1px 29px -1px rgba(0, 0, 0, 0.09); font-size: 0;background: #fff;color: #000;border-radius: 20px;display: flex;border: unset;justify-content: center;align-items: center;width: 83px;height: 55px;transition: 0.3s ease all;-moz-transition: 0.3s ease all;}
.commets-slider .slick-arrow.slick-disabled {color: #CCCCCC;}
.commets-slider .slick-arrow::after {font-family: bootstrap-icons !important;display: inline-block;font-size: 20px;}
.commets-slider .slick-next {left: calc(45% + 100px);}
.commets-slider .slick-next::after {content: "\f285";}
.commets-slider .slick-prev {left: 45%;}
.commets-slider .slick-prev::after {content: "\f284";}

.home-contact {padding: 150px 0;}
.home-contact .container{display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;color: #2E2E2E;}
.home-contact .container .left b{display: block;font-size: 40px;line-height: 42px;margin-bottom: 15px;}
.home-contact .container .left p {margin: 0;font-size: 19px;}
.home-contact .container .right form{max-width: 400px;margin: 0 0 0 auto;}
.home-contact .container .right form .form-group{margin-bottom: 24px;}
.home-contact .container .right form .form-control{background: #FFFFFF;height: 70px;padding: 15px; box-shadow: 0px 10px 34px rgba(0, 0, 0, 0.1);border-radius: 20px;border: unset;transition: 0.3s ease all;}
.home-contact .container .right form .form-control:focus {box-shadow: 0 0 10px -5px var(--primary-color);transition: 0.3s ease all;}
.home-contact .container .right form .form-control::placeholder {color: #CBCBCB;font-weight: 300;font-size: 14px;}
.home-contact .container .right form .btn {display: flex;align-items: center;gap: 10px; height: 70px;box-shadow: 0px 17px 34px -5px rgba(0, 0, 0, 0.1);border-radius: 20px;padding: 0 15px 0 30px;}
.home-contact .container .right form .btn i{font-size: 44px;}

footer {padding: 100px 0;}
footer a {position: relative;width: max-content;}
footer a::before{content: "";position: absolute;left: 0;bottom: 0;width: 0;height: 0;border-bottom: 1px solid var(--primary-color);transition: 0.3s ease all;}
footer a:hover::before{width: 100%;transition: 0.3s ease all;}
footer ul{margin: 0;padding: 0;list-style: none;}
footer .footer-top{display: flex;flex-wrap: wrap;align-items: center;justify-content: space-between;border-bottom: 1px solid #F4F4F4;padding-bottom: 40px;margin-bottom: 40px;}
footer .footer-top .box{display: flex;flex-wrap: wrap;align-items: center;  gap: 30px;}
footer .footer-top .box span{font-size: 22px;}
footer .footer-top .box .btn{height: 50px;border-radius: 8px;}

.footer-center {display: flex;flex-wrap: wrap;justify-content: space-between; }
footer .footer-center .box {max-width: 25%;}
footer .footer-center form {margin-bottom: 50px;}
footer .footer-center form span{display: block;font-size: 22px;line-height: 24px;margin-bottom: 30px;}
footer .footer-center form .input-group .form-control{border: unset;padding: 0; border-bottom: 1px solid #979797;height: 50px; border-radius: 0;box-shadow: unset;outline: none;transition: 0.3s ease all;}
footer .footer-center form .input-group .btn {width: 50px;height: 50px; border-radius: 8px 8px 0px 0px;}
footer .footer-center form .input-group .form-control:focus{border-color: var(--primary-color); transition: 0.3s ease all;}
footer .footer-center .adress li{display: flex;gap: 10px;margin-bottom: 30px;font-weight: 300;font-size: 14px;}
footer .footer-center .adress li b{display: block;margin-bottom: 20px;}
footer .footer-center .box span.b {display: block;color: var(--primary-color);font-size: 17px;margin-bottom: 20px;}
footer .footer-center .box .link li:not(:last-child) {margin-bottom: 20px;}
footer .footer-center .box .link a {display: block;color: #121212;font-size: 15px;font-weight: 300;}

footer .footer-bottom {display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;}
footer .footer-bottom .left {display: flex;flex-wrap: wrap;align-items: center;gap: 5px 30px;font-weight: 15px;font-weight: 400;}
footer .footer-bottom .right {flex: 2;}
footer .footer-bottom .right ul {max-width: 350px;display: flex;flex-wrap: wrap; align-items: center;justify-content: space-between;margin: 0 0 0 auto;}
footer .footer-bottom .right ul a{color: #000;font-size: 22px;transition: 0.3s ease all;}
footer .footer-bottom .right ul a::before {display: none;}
footer .footer-bottom .right ul a:hover{color: var(--primary-color); transition: 0.3s ease all;}

@media (min-width:1400px){
    .container {max-width: 1250px;}
    .container-fluid {max-width: 1390px;}

}

@media (max-width:768px) {
    body.ovh {overflow: hidden;}
    .container , .container-fluid {max-width: 100%;}
    header {position: relative;padding: 10px 0;}
    header .container-fluid {gap: 10px;}
    header .logo svg path:not(.i) {fill: #000000;}
    header .container-fluid a {color: #000;}
    header .container-fluid .mobilMenu {display: block;font-size: 24px;width: 24px;height: 26px;position: absolute;right: 15px;bottom: 20px;}
    header .mobilMenu span{width: 100%;height: 2px;border-radius: 2px;background: #000;position: absolute; top: calc(50% - 1px);transition:0.3s ease all; -moz-transition:0.3s ease all; -webkit-transition:0.3s ease all;}
    header .mobilMenu span::before{display: block;content: "";width: 24px; height: 2px;background: #000;position: absolute;border-radius: 2px; transform: translateY(-8px);-webkit-transform:translateY(-8px);transition:0.3s ease all; -moz-transition:0.3s ease all; -webkit-transition:0.3s ease all;}
    header .mobilMenu span::after {display: block;content: "";width: 24px; height: 2px;background: #000;position: absolute;border-radius: 2px; transform: translateY(8px); -webkit-transform:translateY(8px);transition:0.3s ease all; -moz-transition:0.3s ease all; -webkit-transition:0.3s ease all;}
    header .menu.ac .mobilMenu span {width: 0;transition:0.3s ease all; -moz-transition:0.3s ease all; -webkit-transition:0.3s ease all;}
    header .menu.ac .mobilMenu span::before {transform:rotate(-45deg) translate(0px);-webkit-transform:rotate(-45deg) translate(0px);}
    header .menu.ac .mobilMenu span::after  {transform:rotate(45deg) translate(0px);-webkit-transform:rotate(45deg) translate(0px);}
  
    header .menu > ul{position: absolute;display: block; left: -100%;top: 105px;background: #f7f7f7; padding: 20px;width: 100%;height: calc(100vh - 105px);overflow: auto;z-index: 9;opacity: 0;visibility: hidden; transition: 0.3s ease all;}
    header .menu > ul > li{display: block;width: 100%;}
    header .menu > ul > li > a{display: block;width: 100%;padding: 10px 0;}
    header .menu.ac > ul{left: 0;opacity: 1;visibility: visible;transition: 0.3s ease all;}
    header .menu ul li.dropdown ul {display: none;position: relative;box-shadow: unset;background: unset;opacity: 1;visibility: visible;padding: 5px;transition: unset;}
    header .menu ul li.dropdown ul li a {color: #000;font-weight: 300;padding: 5px 0;}
    header .menu ul li.dropdown:hover ul {transition: unset;}

    header .right {margin: 0;width: 100%;order: -1;}
    header .right ul {gap: 0 5px;justify-content: space-between;}
    header .right ul .contact i {font-size: 24px;filter: brightness(0);}
    header .right ul .contact span { font-size: 0;  }
    header .right ul .contact a {font-weight: 400;}
    header .right ul .app a {border-radius: 10px;padding: 5px 10px;font-size: 14px;}

    .home-slider .item .text b {font-size: 20px; line-height: 20px;margin-bottom: 15px;}
    .home-slider .item .text p {font-size: 16px;line-height: 18px;}
    .home-slider .item img {min-height: 300px;object-fit: cover;}

    .home-references {margin: 20px 0;}
    .home-references .references {display: flex;gap: 0 20px;overflow: auto;}
    .home-references .references .reference {flex-shrink: 0;width: 25%;}

    .home-services .left span { font-size: 18px;margin-bottom: 10px;}    
    .home-services .left b {font-size: 20px;line-height: 20px;}
    .home-services .left b::before {bottom: -15px;}
    .home-services .left p {font-size: 15px;margin: 20px 0;}
    .home-services .left .btn {height: 42px;border-radius: 8px;margin: 10px auto;}
    .home-services .right .boxes {grid-template-columns: repeat(1 , 1fr);gap: 20px;}
    .home-services .right .boxes .box .ikon {margin-bottom: 10px;}
    .home-services .right .boxes .box b {font-size: 18px;}
    .home-services .right .boxes .box p {margin-bottom: 10px;}

    .home-fContact {margin: 20px 0;}
    .home-fContact .box span {font-size: 20px;line-height: 20px;}
    .home-fContact .box .btn {margin: 10px auto;height: 42px;max-width: 250px;font-size: 15px;font-weight: 400;border-radius: 8px;}
    .home-fContact .box ul {grid-template-columns: repeat(1 , 1fr);}
    .home-fContact .box ul li {line-height: 1;}

    .home-blogs {padding: 20px 0;}
    .home-blogs .blog { margin: 10px 0;}
    .blog:nth-child(2n) .desc {text-align: left;order: 1;}
    .blog .desc b {font-size: 20px;line-height: 24px; margin: 10px 0;}
    .blog .desc b br{display: none;}

    .home-video {margin: 20px 0;}
    .home-video .video {border-radius: 15px;}
    .home-video .video span {width: 70px;height: 70px;}

    .home-comments { padding: 20px 0 35px 0;}
    .comment {gap: 10px;}
    .comment .image {flex: unset;max-width: 50%;margin: auto;}
    .comment .desc {flex: unset;width: 100%;}
    .comment .desc span.b {font-size: 18px;margin-bottom: 10px;}
    .comment .desc b.b { font-size: 18px;line-height: 22px;}
    .comment .desc p {margin: 10px 0;font-size: 16px;line-height: 20px;}
    .comment .account {gap: 0 10px;}
    .comment .account .name {font-size: 18px;}
    .comment .account .name span {display: block;margin: 0;}
    .comment .account .bi-star-fill {font-size: 14px;}
    .commets-slider .slick-arrow {width: 70px; height: 35px;bottom: -35px;}
    .commets-slider .slick-prev {left: calc(50% - 75px);}
    .commets-slider .slick-next {right: calc(50% - 75px);left: unset;}
    
    .home-contact {padding: 20px 0;}
    .home-contact .container .left b {font-size: 20px;line-height: 22px;}
    .home-contact .container .left p {font-size: 16px;line-height: 20px;font-weight: 300;}
    .home-contact .container .right form {margin: 15px auto;}

    footer {padding: 20px 0;}
    footer .footer-center .box {max-width: 100%;width: 100%;}
    footer .footer-center .adress li {margin-bottom: 10px;}
    footer .footer-center .adress li b {margin-bottom: 10px;}
    footer .footer-center .box span.b { margin: 0 auto 10px auto;text-align: center;position: relative;width: max-content;}
    footer .footer-center .box span.b::after {content: "\f282";font-size: 14px;display: inline-block;font-family: bootstrap-icons !important;line-height: 1;position: absolute;top: 5px;right: -15px;}
    footer .footer-center .box .link {display: none;text-align: center;width: 100%!important;}
    footer .footer-center .box .link a {width:100%;}
    footer .footer-center .box .link li:not(:last-child) {margin-bottom: 0;}

    footer .footer-bottom .left {gap: 5px;width: 100%;justify-content: space-around;}
    footer .footer-bottom .right ul {justify-content: space-around;margin: 0 auto;}

}